/* header title font */
    .main-header .logo {
        font-family: "Georgia", Times, "Times New Roman", serif;
        font-weight: bold;
        font-size: 24px;
    }


/* background color of header (logo part) */
    .skin-blue .main-header .logo {
        background-color: #FF4500;
    }


/* change the background color of header (logo part) when mouse hover */
    .skin-blue .main-header .logo:hover {
        background-color: #67818a;
    }


/* background color for remaining part of the header */
    .skin-blue .main-header .navbar {
        background-color: #67818a;
    } 

/* main sidebar */
    .skin-blue .main-sidebar {
        background-color: #67818a;
        font-family: "Georgia", Times, "Times New Roman", serif;
        font-weight: bold;
        font-size: 18px;
        
    }

/* active sidebar menu item */
    .skin-blue .main-sidebar .sidebar .sidebar-menu .active a{
        background-color: white;
        color:black;
    }

/* sidebar menuitems */
    .skin-blue .main-sidebar .sidebar .sidebar-menu a{
        background-color: #B0C4DE;
        color: black;
    }

/* sidebar menuitems when mouse hover */
    .skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
        background-color: brown;
        color:white;
    }

/* sidebar toggle button */           
    .skin-blue .main-header .navbar .sidebar-toggle:hover{
        background-color: black;
    }